* {
  padding: 0px;
  margin: 0px;
}

html {
  height: 100vh;
  width: 100vw;
}
#root {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
body {
  overflow-x: hidden;
  height: 130vh;
  width: 100%;
}

@media screen and (max-width: 900px) and (min-width: 300px) {
}
